<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [350, 290]
  //Dashing.widget_margins = [5, 5]
  //Dashing.numColumns = 5
});
$(document).ready (function(e){
    $("#job-selector").html('')
    $("div[data-text='Jenkins']").each(function(){
      jobDiv = $("#job-selector").append($("<div />")
                  .attr("id", $(this).attr("data-id"))
                  .attr("jobselectable", "true")
                  .text($(this).attr("data-title"))
                  .css("cursor","pointer"));
    });
});
function blinker(dataid) {
    for (i=0;i < 5; i++){
        $("div[data-id='" + dataid + "']").fadeOut(500);
        $("div[data-id='" + dataid + "']").fadeIn(500);
    }
    setTimeout(function(){
           $("div[data-id='" + dataid + "']").stop(false, true, true);
    }, 1000)
}
$(document).on ('click', "div[jobselectable='true']", function(e){
    var dataid = $(this).attr("id");
    var datatitle = $(this).text();
    var divtofocus = $("div[data-id='" + dataid + "']")
    $('html, body').animate({ scrollTop: $("div[data-id='" + dataid + "']").offset().top }, 500);
    blinker (dataid);
})
function backtotop() {
    $('html, body').animate({ scrollTop: 0 }, 'fast');
}
</script>

<style type="text/css">
    body {
      overflow-x: hidden;
    }

    li {
      float: left;
      position: relative;
      display: inline-block;
      width: 24%;
      padding: 0;
      margin: 0;
      border: 4px solid #222222;
    }

    .divgridster {
      width: 100%;
      margin: 10px;
    }

    h2 {
      font-size: 16px;
    }

    h4 {
      font-size: 16px;
    }

    .title {
      width: 100%;
      margin-bottom: 11px;
      white-space: nowrap;
    }

    .widget {
      font-size: 10px;
      padding: 25px 12px;
      text-align: center;
      width: inherit;
      display: table-cell;
      vertical-align: middle;
    }
</style>

<div onclick="backtotop()" id="backtotop" style="cursor: pointer; position: fixed; bottom: 0px; right: 0px; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); font-weight: bold; font-size: 40px; color: magenta; margin-right: 5px;">&gt;
</div>

<div style="background-color: gray;/* padding: 10px; */padding-top: 5px;padding-left: 20px;padding-bottom: 3px;color:white;margin-bottom: 0px;margin-left: 14px;margin-top: 14px;text-align: center;font-weight: bold;width: 23%;border-bottom: 2px solid black;">
  JOB FINDER
</div>
<div style="width:100%">
  <div id="job-selector" style="float:left;height: 200px;overflow-x: hidden;overflow-y: scroll;width: 23%;margin-bottom: 14px;margin-left: 14px;background: grey;font-size: 18px;padding: 10px;"></div>
  <div style="float:right;width: 72%;height: 200px;margin-bottom: 14px;margin-left: 14px;margin-right: 15px;background: grey;font-size: 18px;padding: 10px;">
    Title, news, ....
  </div>
</div>
