// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #000000;
$value-color: #FFFFFF;
//$title-color: rgba(255, 255, 255, 0.7);
//$updated-at-color: rgba(0, 0, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-hotness styles
// ----------------------------------------------------------------------------
.widget-hotness {

  background-color: $background-color;
  @include transition(background-color, 1s, linear);

  .title {
  }

  .value {
    color: $value-color;
  }

  .priority {
    color: $value-color;
  }

  .updated-at {
  }

}

//Ericsson palette
.hotness_black     { background-color: #000000;}
.hotness_silver    { background-color: #B1B3B4;}
.hotness_grey      { background-color: #333333;}
.hotness_purple    { background-color: #7B0663;}
.hotness_red       { background-color: #E32119;}
.hotness_orange    { background-color: #F08A00;}
.hotness_yellow    { background-color: #FABb00;}
.hotness_palegreen { background-color: #00C176;}
.hotness_green     { background-color: #89BA17;}
.hotness_darkgreen { background-color: #00625F;}
.hotness_paleblue  { background-color: #00A9D4;}
.hotness_blue      { background-color: #0066b3;}
.hotness_darkblue  { background-color: #2e4275;}
.hotness_white     { background-color: #FFFFFF;}


