<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="0.8" data-sizey="0.8">
      <div data-id="welcome" data-view="Text" data-title="5G CICD TV" data-subtitle="All jobs corresponding to testing Jenkins 5G CI/CD" data-moreinfo="Just showing a title, more info can be added here"></div>
    </li>
    <li data-row='1', data-col='2', data-sizex='0.8', data-sizey='0.8' onclick="window.open('http://10.210.121.218:30900/job/testing-adp-cicd-jenkins/', '_blank');">
      <div data-id='testing-adp-cicd-jenkins', data-view='JenkinsBuild', data-title='TESTING ADP-CICD JENKINS' data-description="Monitoring testing-adp-cicd-jenkins" data-min="0" data-max="100" , data-text="Jenkins"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="0.8" data-sizey="0.8" onclick="window.open('http://10.210.121.218:30900/job/testing-system-jenkins/', '_blank');">
        <div data-id="testing-system-jenkins" data-view="JenkinsBuild" data-title="TESTING SYSTEM JENKINS" data-description="Monitoring testing-system-jenkins" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="0.8" data-sizey="0.8" onclick="window.open('http://10.210.121.218:30900/job/testing-udm-jenkins/', '_blank');">
        <div data-id="testing-udm-jenkins" data-view="JenkinsBuild" data-title="TESTING UDM JENKINS" data-description="Monitoring testing-udm-jenkins" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row='2', data-col='1', data-sizex='0.8', data-sizey='0.8' onclick="window.open('http://10.210.121.218:30900/job/helm-deploy-elk/', '_blank');">
      <div data-id='helm-deploy-elk', data-view='JenkinsBuild', data-title='HELM DEPLOY ELK' data-description="Monitoring helm-deploy-elk" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="0.8" data-sizey="0.8" onclick="window.open('http://10.210.121.218:30900/job/helm-deploy-jnksnr/', '_blank');">
        <div data-id="helm-deploy-jnksnr" data-view="JenkinsBuild" data-title="HELM DEPLOY JNKSNR" data-description="Monitoring helm-deploy-jnksnr" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row='2', data-col='3', data-sizex='0.8', data-sizey='0.8' onclick="window.open('http://10.210.121.218:30900/job/helm-pkg-elk/', '_blank');">
      <div data-id='helm-pkg-elk', data-view='JenkinsBuild', data-title='HELM PACKAGE ELK' data-description="Monitoring helm-pkg-elk" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="0.8" data-sizey="0.8" onclick="window.open('http://10.210.121.218:30900/job/helm-pkg-jenkinssonar/', '_blank');">
        <div data-id="helm-pkg-jenkinssonar" data-view="JenkinsBuild" data-title="HELM PACKAGE JENKINSSONAR" data-description="Monitoring helm-pkg-jenkinssonar" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row='3', data-col='1', data-sizex='0.8', data-sizey='0.8' onclick="window.open('http://10.210.121.218:30900/job/build-doc-job-UDM/', '_blank');">
      <div data-id='build-doc-job-UDM', data-view='JenkinsBuild', data-title='BUILD DOCUMENTS UDM' data-description="Monitoring build-doc-job-UDM" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="0.8" data-sizey="0.8" onclick="window.open('http://10.210.121.218:30900/job/build-doc-upload-job-UDM/', '_blank');">
        <div data-id="build-doc-upload-job-UDM" data-view="JenkinsBuild" data-title="BUILD & UPLOAD DOCUMENTS UDM" data-description="Monitoring build-doc-upload-job-UDM" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
  </ul>
</div>
