<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="MAIN" data-subtitle="Testing Jenkins 5G CI/CD" data-moreinfo="Just showing a title, more info can be added here"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="jenkinsBuildStatus_testing" data-view="JenkinsBuildStatus" data-title="Jenkins"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
        <div data-id="buildhistory_testing" data-view="Buildhistory" data-max_samples="100" data-show_job_titles="true" data-sample_spacers="true"></div>
    </li>
  </ul>
</div>