<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="5G CICD TV" data-subtitle="Testing Jenkins 5G CI/CD" data-moreinfo="Just showing a title, more info can be added here"></div>
    </li>
    <li data-row='1', data-col='2', data-sizex='1', data-sizey='1' onclick="window.open('http://10.210.121.218:30900/job/testing-adp-cicd-jenkins/', '_blank');">
      <div data-id='testing-adp-cicd-jenkins_testing', data-view='JenkinsBuild', data-title='TESTING ADP-CICD JENKINS' data-description="Monitoring testing-adp-cicd-jenkins" data-min="0" data-max="100" , data-text="Jenkins"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://10.210.121.218:30900/job/testing-system-jenkins/', '_blank');">
        <div data-id="testing-system-jenkins_testing" data-view="JenkinsBuild" data-title="TESTING SYSTEM JENKINS" data-description="Monitoring testing-system-jenkins" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('http://10.210.121.218:30900/job/testing-udm-jenkins/', '_blank');">
        <div data-id="testing-udm-jenkins_testing" data-view="JenkinsBuild" data-title="TESTING UDM JENKINS" data-description="Monitoring testing-udm-jenkins" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
  </ul>
</div>
