<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="HELM deploy" data-subtitle="Testing Jenkins 5G CI/CD" data-moreinfo="Just showing a title, more info can be added here"></div>
    </li>
    <li data-row='1', data-col='2', data-sizex='1', data-sizey='1' onclick="window.open('http://10.210.121.218:30900/job/helm-deploy-elk/', '_blank');">
      <div data-id='helm-deploy-elk', data-view='JenkinsBuild', data-title='HELM DEPLOY ELK' data-description="Monitoring helm-deploy-elk" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://10.210.121.218:30900/job/helm-deploy-jnksnr/', '_blank');">
        <div data-id="helm-deploy-jnksnr" data-view="JenkinsBuild" data-title="HELM DEPLOY JNKSNR" data-description="Monitoring helm-deploy-jnksnr" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
  </ul>
</div>
