<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="HELM PKG" data-subtitle="Testing Jenkins 5G CI/CD" data-moreinfo="Just showing a title, more info can be added here"></div>
    </li>
    <li data-row='1', data-col='2', data-sizex='1', data-sizey='1' onclick="window.open('http://10.210.121.218:30900/job/helm-pkg-elk/', '_blank');">
      <div data-id='helm-pkg-elk', data-view='JenkinsBuild', data-title='HELM PACKAGE ELK' data-description="Monitoring helm-pkg-elk" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://10.210.121.218:30900/job/helm-pkg-jenkinssonar/', '_blank');">
        <div data-id="helm-pkg-jenkinssonar" data-view="JenkinsBuild" data-title="HELM PACKAGE JENKINSSONAR" data-description="Monitoring helm-pkg-jenkinssonar" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
  </ul>
</div>
