<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Build documentation" data-text="Testing Jenkins 5G CI/CD" data-moreinfo="Just showing a title, more info can be added here"></div>
    </li>
    <li data-row='1', data-col='2', data-sizex='1', data-sizey='1' onclick="window.open('http://10.210.121.218:30900/job/build-doc-job-UDM/', '_blank');">
      <div data-id='build-doc-job-UDM', data-view='JenkinsBuild', data-title='BUILD DOCUMENTS UDM' data-description="Monitoring build-doc-job-UDM" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://10.210.121.218:30900/job/build-doc-upload-job-UDM/', '_blank');">
        <div data-id="build-doc-upload-job-UDM" data-view="JenkinsBuild" data-title="BUILD & UPLOAD DOCUMENTS UDM" data-description="Monitoring build-doc-upload-job-UDM" data-min="0" data-max="100", data-text="Jenkins"></div>
    </li>
  </ul>
</div>
